@import "_vars";
@import "reset";
@import "fonts";

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $white;
    font-size: 1.4rem;
    color: $black;
    font-family: 'Arial Regular';
}

@import "blocks/helper";
@import "blocks/container";
//-------------------------
@import "blocks/advantage";
@import "blocks/btn";
@import "blocks/about";
@import "blocks/start";
@import "blocks/reaction";
@import "blocks/slider";














