.about {
    &--bg {
        background-image: url(/assets/images/bg_aobut.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include breakMin($mode-600) {
            background: linear-gradient(45deg, #393244, #725234);
        }
    }
    overflow-x: hidden;
}

.about__content {
    padding-bottom: 8rem;
    padding-right: 2rem;
    
    @include breakMin($mode-991) {
        width: 50%;
    }
}

.about__title {
    font-family: 'Arial Black';
    font-size: 2.4rem;

    line-height: 1.5em;
    text-transform: uppercase;
    margin-bottom: 4.5rem;
    padding-top: 8rem;
    
    width: 100%;
    text-align: center;
        
    @include breakMin($mode-991) {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        
        font-size: 3.6rem;
    }
}

.about__text {
    font-size: 1.6rem;
    line-height: 1.875;

    p {
        margin-bottom: 3rem;
    }
}

.about__type {
    font-family: 'Arial Bold';
    font-size: 1.6rem;
    line-height: 1.875;

    margin-bottom: 2rem;

}

ul {
    margin-bottom: 2rem;
}

.about__item {
    font-size: 1.6rem;
    line-height: 1.875;

    &::before {
        display: inline-block;
        content: "";

        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: $orange;

        margin-right: 1rem;
    }
}

.about__wrapPhoto {
    position: absolute;
    bottom: 0;
    right: -44rem;
    
}

.about__right {
    width: 94rem;
    height: 70rem;

    position: relative;
    overflow: hidden;
    display: none;
    
    @include breakMin($mode-991) {
        display: block;
    }
}

.about__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.about__whole {
    display: flex;
    position: relative;
}




