.benefit {
    background: url(/assets/images/advantage/320_02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    @include breakMin($mode-600) {
        background: linear-gradient(45deg, #393244, #725234); 
    }
}

.benefit__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    padding-bottom: 5.5rem;
    
    @include breakMin($mode-600) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
    @include breakMin($mode-600) {
        padding-bottom: 6.5rem;
    }
}
.benefit__caption {
    font-family: 'Arial Black';
    font-size: 2.4rem;
    text-transform: uppercase;
    color: $orange;
    text-align: center;
    
    margin-bottom: 3rem;
    padding-top: 5.5rem;
    
    @include breakMin($mode-991) {
        padding-top: 8.5rem;
        font-size: 3.6rem;
    }
}

.benefit__item {
    max-width: 35rem;
    width: 100%;
    height: auto;
    
    text-align: center;
    border-radius: 1rem;
    
    position: relative;
    
    margin-bottom: 2rem;
    
    @include breakMin($mode-600) {
        background-color: #28242e;
        padding: 0 2rem;
        margin: 0 1rem 2rem;
    }
    
    @include breakMin($mode-991) {
        margin: 0 1.5rem 2rem;
        max-width: 33.3rem;
    }
}

.benefit__img {
    margin: 1rem 0 2rem;
}

.benefit__title {
    font-size: 1.4rem;
    font-family: 'Arial Bold';
    
    margin-bottom: 1rem;
    color: $orange;
    text-transform: uppercase;
}

.benefit__text {
    font-size: 1.4rem;
    line-height: 1.4em;
    color: $white;
    opacity: .5;
    
    margin-bottom: 4rem;
    
    @include breakMin($mode-600) {
        margin-bottom: 6rem;
    }
}















