.btn {
    display: inline-block;

    font-size: 1.4rem;
    font-weight: 400;

    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;

    transition: background-color .2s linear,
        color .2s linear;
    
    &--benefit {
        color: $white;
        
        border: .2rem solid #535058;
        border-radius: 1rem;
        padding: .7rem 1.5rem;
        
        min-width: 25rem;
        
        &:hover {
            background-color: $orange;
            color: $black;
        }
        
        position: absolute;
//        bottom: 2rem;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%);
    }
    
    &--readMore,
    &--readMoreBrw{
        font-family: 'Arial Bold';
        
        border: .2rem solid $orange;
        border-radius: 1rem;
        padding: .8rem 3rem;
        
        &:hover {
            background-color: $orange;
            color: $black;
        }
    }
    &--readMore {
        color: $white;
    }
    &--readMoreBrw {
        color: $brown;
    }
    &--start {
        color: $orange;
        text-decoration: underline;
        
        &:hover {
            color: darken($orange, 10%);
        }
    }
    
    &--collab {
        font-family: 'Arial Bold';
        
        padding: 1.7rem 0;
        margin-top: 2rem;
        width: 100%;
        border-radius: 1rem;
        
        background-color: $orange;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        filter: drop-shadow(0 .4rem .4rem #d57801);

    }
}











