<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <h2 class="footer__caption">Залишились питання?</h2>

            <form action="#" class="form">

                <div class="form__item">
                    <input class="form__input" type="text" placeholder="Ім'я">
                    <img src="/assets/images/fUser.png" alt="" class="form__img form__img--input">
                </div>

                <div class="form__item">
                    <input class="form__input" type="text" placeholder="Номер телефону">
                    <img src="/assets/images/fPhone.png" alt="" class="form__img form__img--input">
                </div>

                <div class="form__item">
                    <textarea class="form__textarea" placeholder="Повідомлення"></textarea>
                    <img src="/assets/images/fCom.png" alt="" class="form__img form__img--area">
                </div>

                <a href="#" class="btn btn--send">відправити</a>
            </form>

            <img src="/assets/images/fLogo.png" alt="" class="footer__logo">

            <h2 class="footer__caption">Пишіть нам</h2>

            <ul class="social">
                <li class="social__link">
                    <a href="#"><img class="social__icon" src="/assets/images/viber.png" alt="">Viber</a>
                </li>
                <li class="social__link">
                    <a href="#"><img class="social__icon" src="/assets/images/whats.png" alt="">Whatsapp</a>
                </li>
            </ul>

            <h2 class="footer__caption">Є питання? Телефонуйте!</h2>

            <div class="footer__contact">
                <a href="tel:+380980166451" class="footer__phone">+38 (098) 016-64-51</a>
                <a href="tel:+380993167313" class="footer__phone">+38 (099) 316-73-13</a>
            </div>

            <h2 class="footer__caption">Реквізити</h2>

            <a href="#" class="btn btn--value">Розрахувати вартість ремонту</a>
        </div>
        <!-- сам низ -->
        <div class="copyright">
            <p>2012-2021 © Ремонт-БУД / Всі права застережено</p>
            <p>Створення сайтів веб студія SUFIX</p>

        </div>
    </div>
</footer>
